html {
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}

:root {
    --blue1: #02437A;
    --blue2: oklab(77.473% -0.03034 -0.06976);
}

a {
	color: var(--blue1);
}